.header {
    background: #ffffff;
    margin-top: 16px;
}

.form-box {
    display: flow-root;
}

.auth-div {
    background-color: #f5f5f5;
    padding: 16px;
    padding-bottom: 32px;
    border-color: #f5f5f5;
    border-radius: 8px;
    width: 40%;
    display: inline-block;
    float: left;
}

.message-div {
    float: right;
    width: 60%;
    padding-left: 32px;
    padding-top: 16px;
}

.main-div {
    padding-bottom: 96px;
}
.send-btn {
    float: right;
    width: 10%;
}

.input-label {
    margin-top: 8px
}

@media screen and (max-width: 480px) {
    .auth-div, .send-btn {
        float: none;
        width: 90%;
    }

    .message-div {
        float: none;
        width: 90%;
        padding-left: 0px;
    }

    .main-div {
        padding-bottom: 16px;
    }
}
