<!DOCTYPE html>
<head>
    <title>Snake web</title>
    <link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/theme.min.css">
    <link rel="stylesheet" href="static/mytheme.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <div class="jumbotron header">
            <h2>Liceo Arzignano</h2>
            <p>Piattaforma invio notizie</p>
        </div>
        <form action="" method="post" role="form" style="margin-bottom: 96px">
            {{ form.csrf }}
            <div class="form-group form-box">
                <div class="auth-div">
                    <legend>Autenticazione</legend>

                    <label for="username" class="input-label">Nome utente</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Nome utente">
                    <label for="password" class="input-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>

                <div class="message-div">
                    <legend>Messaggio</legend>

                    <label for="title" class="input-label">Title</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Titolo">
                    <label for="message" class="input-label">Descrizione</label>
                    <input type="text" class="form-control" id="message" name="message" placeholder="Descrizione">
                    <label for="url" class="input-label">Collegamento</label>
                    <input type="url" class="form-control" id="url" name="url" placeholder="Collegamento (opzionale)">
                </div>
            </div>
            <button type="submit" class="btn btn-primary send-btn">Invia</button>
        </form>

        <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}

        {% for message in messages %}
        {% if "Error" not in message[1]: %}
        <div class="alert alert-info">
            {{ message[1] }}
        </div>
        {% endif %}

        {% if "Error" in message[1]: %}
        <div class="alert alert-danger">
            {{ message[1] }}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}

    </div>
</body>
